- name: Load topology vars
  include_vars:
    file: "{{ playbook_dir }}/../06-ueransim-mec/vars/topology.yml"
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true

- name: Set cell count from topology
  set_fact:
    cell_count: "{{ ueransim_topology.cells | length | int }}"
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true

- name: Render OVS scripts ConfigMap
  template:
    src: ovs-scripts-configmap.yaml.j2
    dest: /tmp/ovs-scripts-configmap.yaml
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true

- name: Apply OVS scripts ConfigMap
  kubernetes.core.k8s:
    state: present
    src: /tmp/ovs-scripts-configmap.yaml
    kubeconfig: "/home/vagrant/kubeconfig"
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true

- name: Render OVS DS for worker
  template:
    src: ovs-daemonset.yaml.j2
    dest: /tmp/ovs-network-setup-worker.yaml
  vars: { node_type: worker }
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true

- name: Render OVS DS for edge
  template:
    src: ovs-daemonset.yaml.j2
    dest: /tmp/ovs-network-setup-edge.yaml
  vars: { node_type: edge }
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true

- name: Apply OVS DS manifests
  kubernetes.core.k8s:
    state: present
    src: "{{ item }}"
    kubeconfig: "/home/vagrant/kubeconfig"
  loop:
    - /tmp/ovs-network-setup-worker.yaml
    - /tmp/ovs-network-setup-edge.yaml
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true

- name: Wait for OVS DS pods Running
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Pod
    namespace: kube-system
    label_selectors:
      - "app in (ds-net-setup-worker,ds-net-setup-edge)"
    kubeconfig: "/home/vagrant/kubeconfig"
  register: ovs_pods
  until: (ovs_pods.resources | selectattr('status.phase','equalto','Running') | list | length) >= 2
  retries: 30
  delay: 4
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true
