apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: open5gs-metrics
  namespace: monitoring
  labels:
    release: prometheus
spec:
  namespaceSelector:
    matchNames:
    - default
  selector:
    matchExpressions:
      - key: app.kubernetes.io/instance
        operator: In
        values: [ "open5gs", "open5gs-mec-upf" ]
  endpoints:
  - port: http-metrics
    interval: 15s