apiVersion: edgecore.config.kubeedge.io/v1alpha1
kind: EdgeCore
edgeCore:
  nodeName: {{ inventory_hostname }}
  edged:
    enable: true
    runtimeType: remote
    remoteRuntimeEndpoint: unix:///run/containerd/containerd.sock
    remoteImageEndpoint: unix:///run/containerd/containerd.sock
    nodeStatusUpdateFrequency: 10
    cgroupDriver: systemd
    clusterDomain: cluster.local
    clusterDNS: "10.96.0.10"
    runtimeRequestTimeout: 2
    hostnameOverride: {{ inventory_hostname }}
    registerNode: true
    registerNodeNamespace: default
    devicePluginEnabled: false
    gpuPluginEnabled: false
    imageGCHighThreshold: 80
    imageGCLowThreshold: 40
    maximumDeadContainersPerContainer: 1
    podSandboxImage: k8s.gcr.io/pause:3.2
    imagePullProgressDeadline: 60
  edgehub:
    enable: true
    quic:
      enable: false
      address: 0.0.0.0
      port: 10001
    websocket:
      enable: true
      address: 0.0.0.0
      port: 10000
    heartbeat: 15
    projectID: e632aba927ea4ac2b575ec1603d56f10
    nodeID: {{ inventory_hostname }}
  metamanager:
    enable: true
    contextSendGroup: cloudhub
    contextSendModule: cloudhub
    podStatusSyncInterval: 60
    remoteQueryTimeout: 60
  dbTest:
    enable: false
  devicecontroller:
    enable: false
  edgestream:
    enable: true
    handshakeTimeout: 30
    readDeadline: 15
    writeDeadline: 15
    server: {{ master_ip }}:10008
