K3S_URL="{{ k3s_master_url }}"
K3S_TOKEN="{{ token_b64.content | b64decode | trim }}"
K3S_NODE_NAME="{{ inventory_hostname }}"
K3S_NODE_IP="{{ ansible_host }}"
K3S_FLANNEL_IFACE="{{ k3s_flannel_iface }}"

