---
# MEC DEPLOYMENT
# Deploy MEC application on edge node (OPTIONAL - disabled by default)

- name: Deploy MEC application
  when: mec_enabled | bool
  block:
    - name: Deploy MEC Deployment
      kubernetes.core.k8s:
        state: present
        kubeconfig: "{{ kubeconfig_path }}"
        template: mec-deployment.yaml.j2
      delegate_to: "{{ groups['masters'][0] }}"
      run_once: true

    - name: Deploy MEC Service
      kubernetes.core.k8s:
        state: present
        kubeconfig: "{{ kubeconfig_path }}"
        template: mec-service.yaml.j2
      delegate_to: "{{ groups['masters'][0] }}"
      run_once: true

    - name: Wait for MEC deployment to be ready
      kubernetes.core.k8s_info:
        api_version: apps/v1
        kind: Deployment
        name: "{{ mec_name }}"
        namespace: "{{ namespace }}"
        kubeconfig: "{{ kubeconfig_path }}"
      register: mec_deployment
      retries: 30
      delay: 10
      until: >-
        mec_deployment.resources | length > 0 and
        mec_deployment.resources[0].status.availableReplicas | default(0) >= 1
      delegate_to: "{{ groups['masters'][0] }}"
      run_once: true

- name: Skip MEC deployment (disabled)
  when: not (mec_enabled | bool)
  debug:
    msg: "MEC deployment is disabled (requires UPF-Edge). Set mec_enabled: true to enable."
  run_once: true
