---
# Default variables for k3s_master role
# These can be overridden in inventory, group_vars, or host_vars

# k3s configuration
k3s_channel: "stable"
k3s_version: ""
k3s_install_dir: "/usr/local/bin"
k3s_config_dir: "/etc/rancher/k3s"
k3s_data_dir: "/var/lib/rancher/k3s"

# Network configuration
k3s_bind_address: "{{ ansible_host }}"
k3s_advertise_address: "{{ ansible_host }}"
k3s_node_ip: "{{ ansible_host }}"
k3s_api_port: 6443

# k3s server options
k3s_disable_components:
  - traefik
  - servicelb
  - cloud-controller
  - network-policy
  - local-storage

# File paths
k3s_token_path: "/home/vagrant/k3s_token"
kubeconfig_path: "/home/vagrant/kubeconfig"
kubectl_install_path: "/usr/local/bin/kubectl"

# Timeouts
k3s_startup_timeout: 300
k3s_api_timeout: 60

# k3s installation URL
k3s_install_url: "https://get.k3s.io"

# k3s server command components
k3s_server_args:
  - "server"
  - "--bind-address={{ k3s_bind_address }}"
  - "--advertise-address={{ k3s_advertise_address }}"
  - "--node-ip={{ k3s_node_ip }}"
  - "--cluster-cidr=10.42.0.0/16"
  - "--service-cidr=10.43.0.0/16"
  - "--flannel-backend=vxlan"
  - "--disable {{ k3s_disable_components | join(' --disable ') }}"

# Systemd services
k3s_service_name: "k3s"