---
# Default variables for k3s_master role
# These can be overridden in inventory, group_vars, or host_vars

k3s_install_url: "https://get.k3s.io"
k3s_channel: "stable"
k3s_version: "" # optional pin
k3s_service_name: "k3s"
k3s_config_dir: "/etc/rancher/k3s"
k3s_install_dir: "/usr/local/bin"
k3s_bind_address: "{{ ansible_host }}"
k3s_advertise_address: "{{ ansible_host }}"
k3s_node_ip: "{{ ansible_host }}"
cluster_cidr: "10.42.0.0/16"
service_cidr: "10.43.0.0/16"
flannel_backend: "vxlan"
disable_components:
  [traefik, servicelb, cloud-controller, network-policy, local-storage]
kubeconfig_path: "/home/vagrant/kubeconfig"
token_export_path: "/home/vagrant/k3s_token"
