apiVersion: v1
kind: Service
metadata:
  name: {{ mec_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ mec_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ mec_name }}
  ports:
    - port: {{ mec_port }}
      targetPort: {{ mec_port }}
      protocol: TCP
      name: http

