apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ mec_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ mec_name }}
spec:
  replicas: {{ mec_replicas }}
  selector:
    matchLabels:
      app: {{ mec_name }}
  template:
    metadata:
      labels:
        app: {{ mec_name }}
{% if mec_networks | length > 0 %}
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [
{% for net in mec_networks %}
            {"name": "{{ net.name }}", "namespace": "{{ namespace }}", "interface": "{{ net.interface }}"}{{ "," if not loop.last else "" }}
{% endfor %}
          ]
{% endif %}
    spec:
      nodeSelector:
        kubernetes.io/hostname: {{ mec_node }}
      containers:
        - name: {{ mec_name }}
          image: {{ mec_image }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ mec_port }}
              name: http
              protocol: TCP

