- name: Prepare Kubernetes Workers for 5G
  hosts: k8s_workers
  become: yes
  tasks:
    - name: Install prerequisites for gtp5g kernel module
      apt:
        name: 
          - git
          - cmake
          - autoconf
          - automake
          - libtool
          - g++
          - flex
          - bison
          - libsctp-dev
          - libgnutls28-dev
          - libgcrypt-dev
          - libssl-dev
          - libidn11-dev
          - libmongoc-dev
          - libbson-dev
          - libyaml-dev
        state: present
        update_cache: yes

    - name: Clone gtp5g repository
      git:
        repo: 'https://github.com/free5gc/gtp5g.git'
        dest: /usr/src/gtp5g
        version: v0.8.5
      register: gtp5g_clone

    - name: Compile and install gtp5g
      shell: "cd /usr/src/gtp5g && make && make install"
      when: gtp5g_clone.changed

    - name: Load gtp5g module
      community.general.modprobe:
        name: gtp5g
        state: present