supi: 'imsi-001011234567895'
mcc: '001'
mnc: '01'
key: '8baf473f2f8fd09487cccbd7097c6862'
op: '11111111111111111111111111111111'
opType: 'OP'
amf: '8000'
imei: '356938035643803'
imeiSv: '4370816125816151'
tunNetmask: '255.255.255.0'
gnbSearchList:
  - gnb
uacAic:
  mps: false
  mcs: false
uacAcc:
  normalClass: 0
  class11: false
  class12: false
  class13: false
  class14: false
  class15: false
sessions:
  - type: 'IPv4'
    apn: 'internet'
    slice:
      sst: 1
      sd: 1
    emergency: false
  - type: 'IPv4'
    apn: 'mec'
    slice:
      sst: 2
      sd: 1
    emergency: false
configured-nssai:
  - sst: 1
    sd: 1
  - sst: 2
    sd: 1
default-nssai:
  - sst: 1
    sd: 1
integrity:
  IA1: true
  IA2: true
  IA3: true
ciphering:
  EA1: true
  EA2: true
  EA3: true
integrityMaxRate:
  uplink: 'full'
  downlink: 'full'
