[Unit]
Description=Run k3s-pull-watchdog every {{ watchdog_interval }}

[Timer]
OnBootSec={{ watchdog_on_boot }}
OnUnitActiveSec={{ watchdog_interval }}
RandomizedDelaySec={{ watchdog_randomized_delay }}
Persistent=true

[Install]
WantedBy=timers.target


