apiVersion: v1
kind: ConfigMap
metadata:
  name: open5gs-config
  namespace: open5gs
data:
  mme.yaml: |
    mme:
      s1ap:
        addr: 0.0.0.0
        port: 36412
      s11:
        addr: 0.0.0.0
        port: 2123
      s6a:
        addr: 127.0.0.1
        port: 3868
      s10:
        addr: 127.0.0.1
        port: 2123
      s3:
        addr: 127.0.0.1
        port: 2123
      sgsap:
        addr: 0.0.0.0
        port: 29118
      s1ap:
        addr: 0.0.0.0
        port: 36412
      s11:
        addr: 0.0.0.0
        port: 2123
      s6a:
        addr: 127.0.0.1
        port: 3868
      s10:
        addr: 127.0.0.1
        port: 2123
      s3:
        addr: 127.0.0.1
        port: 2123
      sgsap:
        addr: 0.0.0.0
        port: 29118
  sgwc.yaml: |
    sgwc:
      s11:
        addr: 0.0.0.0
        port: 2123
      s5u:
        addr: 0.0.0.0
        port: 2152
      s5c:
        addr: 0.0.0.0
        port: 2123
      s4u:
        addr: 0.0.0.0
        port: 2152
      s4c:
        addr: 0.0.0.0
        port: 2123
      s11:
        addr: 0.0.0.0
        port: 2123
      s5u:
        addr: 0.0.0.0
        port: 2152
      s5c:
        addr: 0.0.0.0
        port: 2123
      s4u:
        addr: 0.0.0.0
        port: 2152
      s4c:
        addr: 0.0.0.0
        port: 2123
  sgwu.yaml: |
    sgwu:
      s1u:
        addr: 0.0.0.0
        port: 2152
      s5u:
        addr: 0.0.0.0
        port: 2152
      s4u:
        addr: 0.0.0.0
        port: 2152
      s1u:
        addr: 0.0.0.0
        port: 2152
      s5u:
        addr: 0.0.0.0
        port: 2152
      s4u:
        addr: 0.0.0.0
        port: 2152
  hss.yaml: |
    hss:
      s6a:
        addr: 0.0.0.0
        port: 3868
      s6a:
        addr: 0.0.0.0
        port: 3868
  pcrf.yaml: |
    pcrf:
      s6a:
        addr: 0.0.0.0
        port: 3868
      s6a:
        addr: 0.0.0.0
        port: 3868
  upf.yaml: |
    upf:
      s1u:
        addr: 0.0.0.0
        port: 2152
      s5u:
        addr: 0.0.0.0
        port: 2152
      s4u:
        addr: 0.0.0.0
        port: 2152
      s1u:
        addr: 0.0.0.0
        port: 2152
      s5u:
        addr: 0.0.0.0
        port: 2152
      s4u:
        addr: 0.0.0.0
        port: 2152
