apiVersion: v1
kind: ConfigMap
metadata:
  name: ovs-cni-config
  namespace: kube-system
data:
  ovs-cni.conf: |
    {
      "cniVersion": "0.3.1",
      "name": "ovs-cni",
      "type": "ovs-cni",
      "bridge": "br0",
      "vlan": 100,
      "mtu": 1400,
      "ipam": {
        "type": "host-local",
        "subnet": "10.244.0.0/16",
        "gateway": "10.244.0.1"
      }
    }
